{% load static %}

<footer class="sticky-footer bg-white ">
    <hr class="pt-5">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            
            <p class="text-center mt-2">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Página diseñada por Jordana Escalona</p>
            <p><a href="https://www.instagram.com/SETEI_RIO3/" target="_blank"><img src="{% static 'img/logo_pquenio_setei.png' %}" alt="Logo SETEI RÍO3">SETEI RÍO3 - Soluciones informáticas</a></p>
        </div>
    </div>
    
</footer>