<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    MENÚ:
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item my-1">
    <a class="btn btn-success btn-block" href="{% url 'ventas:listado' %}" style="font-size:15px;">Principal</a>
    
</li>
<li class="nav-item my-1">
    <a class="btn btn-info btn-block" href="{% url 'ventas:vendedores' %}" style="font-size:14px;">Comisionistas</a>
    
</li>


<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">